# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
!web/app/plugins/gravityforms

# WordPress
web/wp
web/.htaccess
node_modules/

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor

# WP-CLI
wp-cli.local.yml

# Others
.ash_history
.Trash*
.DS_Store
*.lock
*-lock.json

#theme
web/app/themes/*/dist/
web/app/wflogs/*
