<div class="uk-width-1-1 table-layout">
    <div class="uk-container uk-padding">
        <div class="table-block">
            <h3>{{ tb.heading }}</h3>
            <div class="table-content">
                {{ tb.content }}
            </div>
            {{ tb.table }}
        </div>    
    </div>
</div>